<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
	<title></title>
</head>
<body>
<% include partials/header.ejs%>
<div class="ui stackable one column center aligned grid" id="linkcards">  
	
    <div class="ui link cards">  
       	<% for (var i=0; i< fish.length; i++){ %>
    			<div class="card">
            <div class="ui fluid image">
              <img src= <%=fish[i].image%>>
            </div>
            <div class="content">
              <div class="header"><%= fish[i].name %></div>
              <div class="description" style="padding: 10px;">
                <p>Information: <%= fish[i].desc%></p>
                <p>Price: <%= fish[i].price%></p>
              </div>
    			  </div> 
            <div class="extra content"> 
              <h5>Status: <%= fish[i].status %><h5>
            </div>
            
          </div>
   			<% } %>
   	</div>
  <div class="column sixteen wide">
    <div class="ui divider"></div>
  </div>
  <div class="column sixteen wide">
    <button class="ui icon button" onclick="goback()">
      
      <i class="arrow left icon"></i>
      Back
    </button>
  </div>
</div>
<% include partials/footer.ejs%>
<script type="text/javascript">
function goback(){
  window.history.back();
}
</script>

</body>
</html>