<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<ul id="UL">
       	 	<% for (var i=0; i< fish.length; i++){ %>
    			<li>
    			<img src= <%=fish[i].image%>>
    			<h3><%= fish[i].name %></h3>
    			<h4>Information: <%= fish[i].desc%></h4>
    			<h4>Price: <%= fish[i].price%></h4>
    			<h4>Status: <%= fish[i].status %></ul><h4>
    			</li>
   			<% } %>
   	</ul>
	
</body>
</html>