<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2><%= name%></h2>
	<div id="fishpic">
		<img src=<%= image %>>
	</div>
	<h5>Information:<br><%= desc%></h5>
	<h5>Status:<br><%= status%></h5>
	<h2>Price:<br><%= price%></h2>
	
</body>
</html>