<!DOCTYPE html>
<html>
<head>
	
	<% include partials/head.ejs %>
	<title><%= title %></title>
	


</head>

<body>
<% include partials/header.ejs%>
<div class="ui grid container">
	<div class="four wide centered column" id="headings">
		
		<h1 class="ui center aligned header"><%= title %></h1>
    <h3 class="ui center aligned header"><%=text %></h3>
	</div>
</div>

<div class="ui stackable one column center aligned grid">
	<div class="column ten wide">		
			
				
				<form id="search" class="ui form" action ="/fishFound" method = "post">
        	 		<div class="ui icon input">
        	 			<input class="prompt" type = "text" id="fish_name" name ="fish_name" placeholder="Enter Fish Name...">
        	 			<i class="search icon"></i>
         				<input class="ui blue basic button" type = "submit" value = "Search">	
        			</div>

   				</form>
   			 
	</div>
</div>
<div class="ui stackable one column center aligned grid">	
	
	<div class="column twelve wide">
		
			
    	<div class="ui link cards">	
       					
       		<% for (var i=0; i< fish.length; i++){ %>
    			<div class="card" id="home_cards">
    				<div class="ui fluid image" id="cardimg">
    					<img style="" src= <%=fish[i].image%>>	
    				</div>
    				<div class="content">		
    					<div class="header"><%= fish[i].name %></div>
    								
    				</div>	

    				<div id="card_btn" class="ui bottom attached button">
    					<a href="/fishFound/<%= fish[i].name%>">
    					Know More	
    					</a>
    				</div>
    			</div>
    		
   			<% } %>
   		</div>
			
	</div>
	</div>
</div>
<% include partials/footer.ejs%>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>


</body>
</html>